# PIC 16 - Discussion 2
# 10/03/2019 Thursday

## About Office Hours

10/03/2019 11am-1pm Thursday at PIC lab.

After 10/04/2019, office hours will be moved to 3pm-5pm Wednesday.

---
## List Comprehension

In [1]:
numbers = [1,2,3,4,5]

In [2]:
a = []
for n in numbers:
    if n % 2 == 1:
        a.append(n ** 2)

print a

[1, 9, 25]

In [3]:
a = map(lambda n: n ** 2, filter(lambda n: n % 2 == 1, numbers))
print a

[1, 9, 25]

In [4]:
a = [n ** 2 for n in numbers if n % 2 == 1]
print a

[1, 9, 25]

## Problem

Make list comprehension that creates the Pythagorean triples

Output
```
(3, 4, 5), (5, 12, 13), (6, 8, 10), ...
```
All values are from 1 to 30

In [5]:
# TODO

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [6]:
colors = ["red", "blue", "green"]
objects = ["car", "pen", "desk", "chair"]

In [7]:
print [(color, obj) for color in colors for obj in objects]

[('red', 'car'), ('red', 'pen'), ('red', 'desk'), ('red', 'chair'), ('blue', 'car'), ('blue', 'pen'), ('blue', 'desk'), ('blue', 'chair'), ('green', 'car'), ('green', 'pen'), ('green', 'desk'), ('green', 'chair')]

## Problem

Make list comprehension that creates a list of primes

Output: 
```
2, 3, 5, 7, ... , 97
```

Hint: Eliminate non primes

In [4]:
# TODO

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

---
## Map

In [ ]:
def add_by_2(n):
    return n + 2

def multiply_by_3(n):
    return n * 3

numbers = [1,2,3,4,5,6]

add = map(add_by_2, numbers)
mul = map(multiply_by_3, numbers)

print add
print mul

In [ ]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [17,15,26,66,6]

In [ ]:
a_minus_b = map(lambda x,y: x-y, a,b)
print a_minus_b

## Problem

Use map and lambda function to create **add** and **mul** functions.

In [ ]:
# TODO

## Problem

Create a list for **a + b - c** using map

In [18]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [12,3,20,6,16]

# TODO

[5, 12, 6, 60, -10]

---
## Filters

In [ ]:
numbers = range(100)
print numbers

In [ ]:
odd = filter(lambda x: x % 2, numbers)
print odd

In [ ]:
odd = filter(lambda x: x % 2 != 0, numbers)
print odd

## Problem

Create a list of even numbers using filter

In [ ]:
numbers = range(100)

# TODO

## Problem

Filters out multiples of 3 and 5

Output

```
1, 2, 4, 7, 8, 11, ...
```

In [14]:
numbers = range(100)

# TODO

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

---
## Reduce

**Reduce** returns a single value

In [ ]:
arr = [47,11,42,13]

In [ ]:
reduce(lambda x,y: x+y, arr)

In [ ]:
reduce(lambda x,y: x-y, arr)

In [ ]:
ans = arr[0]
for i in range(1,4):
    ans -= arr[i]
    
print ans

## Problem

Use reduce to add from 1 through 100

Use reduce to multiply from 1 through 100

In [ ]:
# TODO

## Problem

Complete the **max_function** so that the output is **47**.

In [10]:
arr = [47,11,42,13]

# Finding max
def max_function(x, y):
    #TODO
    pass

# Don't modify below
result = reduce(max_function, arr)
print result

47

## Problem

Use reduce and lambda to to do the same thing.

In [ ]:
# TODO